@font-face { 
    font-family: Sans-serif; 
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff); 
    font-weight: 400; 
    font-style: normal; 
  }
  @font-face { 
    font-family: Sans-serif; 
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff); 
    font-weight: 700; 
    font-style: normal; 
  }
  * 
  {
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Open Sans; 
  }
  a, a:link, a:visited, a:focus, a:hover, a:active {
    text-decoration: none; 
    font-family: Sans-serif;
  }
  img {
    max-width: 100%;
  } 
.header {
    background-image: url(../images/football_767.jpg);   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    padding: 10% 6% 12% 6%;
    box-sizing: border-box;
}
.header::after, footer::after {
    content: "";
	background-color: #000033;
    opacity: 0.8;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
    bottom: 0;
}
.logo {
    width: 47%; 
    margin: auto;
    position: relative; 
    z-index: 2;
}
.header_text {
    position: relative;
    z-index: 2;
    color: white;
    font-size: calc(8.03vw + 3px);
    font-weight: bold;
    text-transform: uppercase; 
}
.header_text_top {
    margin-top: 48%;
    line-height: calc( 8.7vw + 3px );
}
.header_text_bottom {
    display: block;
    margin-left: 14%;
    margin-bottom: 28%;
    margin-top: 10%;
}
.buttons {
    margin-top: 28% ;
}
.app_btn {
    display: flex;
    align-items: center;
    padding-left: 30%;
    position: relative; 
    z-index: 2;
    margin-top: 5%;
    background-color: #663399;
    border: 1px solid #663399;
    border-radius: 17vw;
}
.app_icon {
    width: 6vw;
    margin-right: 3vw;
}
.app_text_container {
    padding-top: 2%;
    padding-bottom: 2%;  
}
.app_text {
    color: white;
    font-size: calc( 1.34vw + 4px );
    text-transform: uppercase;  
}
.app_text_bold {
    display: block;
    font-weight: bold;     
}
.main {
    max-width: 1920px;
}
.article {
    padding-top: 8%;
}
.article_name {
    font-size: calc( 6.7vw + 29px );
    color: #cccccc;
    font-weight: bold;
    text-transform: uppercase; 
    padding-left: 6%;   
}
.athlets_img-container {
    margin-left: 22%;
    margin-top: 6%;
    margin-bottom: 9%;
}

.text_container {  
    padding-bottom: 19%;
    padding-left: 6%;
    padding-right: 6%;
    justify-content: stretch;
}
.text_container:nth-child(n+4) {
    padding-top: 18%;
}
.number_title {
    display: flex;
    align-items: center;
    margin-bottom: 9%;
}
.number, .number_growth  {
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-right: 5px;
    margin-top: 2px;
}
.number::after {
    display: block;
    content: " ";
    height: 0;
    border: none;
    border-top: 3px solid #663399;
    width: 14px;
    
}
.title {
    display: flex;
    font-size: 23px;
    color: #cccccc;
    font-weight: bold;
    text-transform: uppercase; 
}
.describtion {
    font-size: 15px;
    line-height: 18px;
}
.collaboration {
    background-color: #f5f4f9;
}
.growth {
    background-color: #663399;  
}
.growth_color {
    color: white;
}
.number_growth::after {
    display: block;
    content: " ";
    padding: 0;
    margin-bottom: 3px;
    height: 0;
    border: none;
    border-top: 3px solid white;
    width: 14px;
}
.growth_dark {
    background-color: #000033;
}
.growth_dark_color {
    color: #663399;
}
.players_img-container {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 6%;
    margin-bottom: 17%;    
}
.tips_img_box {
    position: relative;
    min-height: 50vw;
}
.tips_img {
    width: 100%;   
}
.tips_text {
    padding-top: 11%;
    padding-bottom: 24%;
    padding-left: 6%;
    padding-right: 6%;
}
.tips_title {
    font-size: 9vw;
    color: #cccccc;
    font-weight: bold;
    text-transform: uppercase;  
}
.tips_description {
    font-size: calc( 1.78vw + 10px );
    
}
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 82%;
    left: 6%;
    width: 20vw;
    height: 20vw;
    background-color: #663399;
}
.square_number {
    font-size: calc( 2.23vw + 8px );
    font-weight: bold;
    color: white;
}
.square_number::after {
    display: block;
    content: " ";
    padding: 0;
    margin-bottom: 3px;
    height: 0;
    border: none;
    border-top: 3px solid #9966cc;
    width: 100%;
}
.footer {
    background-image: url(../images/game_767.jpg);   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    padding: 31% 6% 3% 6%;
    box-sizing: border-box;
}
.footer_logo_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 22vw;
    height: 22vw;
    background-color: #663399;
    border: 1px solid #663399;
    border-radius: 5vw;
    position: relative;
    z-index: 1;
}
.footer_logo {
    width: 80%;
    position: relative;
    z-index: 1;
}
.footer_text_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 1;   
    margin-top: 18%; 
    margin-bottom: 24%;
}
.footer_title {
    font-size: 10vw;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;  
    position: relative;
    z-index: 1; 
}
.footer_text {
    margin: auto;
    font-size: 4.5vw;
    color: #9966cc;
    text-transform: uppercase;  
    position: relative;
    z-index: 1;  
}
.logo_footer {
    width: 47%; 
    margin: auto;
    margin-top: 25%;
    position: relative; 
    z-index: 2;
}

@media (min-width: 641px) and (max-width: 960px) {  
.header {
    padding-top: 5%;
}
.logo {
    width: 27%;
} 
.header_text {
    font-size: 64px;  
}
.header_text_top {  
    margin-top: 24%;
}
.header_text_bottom {   
    margin-top: 0;
}
.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 40%;
}
.app_btn {
    width: 40vw;
    justify-content: center;
    padding-left: 0;
}
.app_text_container {
    padding-top: 6%;
    padding-bottom: 6%;
}
.article {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.article_name {
    order: 1;
    padding-left: 38%;
    margin-bottom: 6%;
    font-size: 80px;
}
.text_container {
    display: block;
    width: 100%;
    order: 2;
}
.athlets_img-container {
    position: absolute;
    left: -330px;

}
.text_container, .collaboration {  
    padding-bottom: 5%;
    padding-left: 38%;
    padding-right: 6%;
}
.text_container:nth-child(n+4) {
    padding-top: 5%;
}
.number_title {
    margin-bottom: 4%;
}
.title {
    font-size: 32px;
}
.describtion {
    font-size: 16px;
    line-height: 28px;
    
}
.players_img_players {
    order: 3;
}
.text_container_players {
    order: 2;
    padding-left: 6%;
}
.article_name_players {
    order: 1;
    padding-left: 6%;
   
}
.players_img-container {
    position: absolute;
    right: -30px;
    top: 4%;
}
.describtion_players {
    min-width: 383px;
    width: 50%;
}
.tips_title {
    font-size: 11vw;
    color: #cccccc;
    font-weight: bold;
    text-transform: uppercase;  
}
.tips_text {
    padding-bottom: 13%;
}

.footer {
    padding-top: 16%;   
    background-image: url(../images/game_1280.jpg); 
}
.footer_text_box {
    margin-top: 12%;
}
.footer_logo_box {
    width: 18vw;
    height: 18vw;
}
.logo_footer {
    width: 30%;
    margin-top: 7%;
}
}
@media (min-width: 961px) {
.header {
    background-image: url(../images/football_1920.jpg); 
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 6%;
}
.logo {
    width: 10%;
} 
.header_text {
    font-size: 4.7vw;
}
.header_text_top {
    margin-top: 15%;
    line-height: 31px;
}
.header_text_bottom {
    margin-left: 27%;
    margin-bottom: 12%;
    margin-top: 4%;
}
.buttons {
    display: flex;
    justify-content: center;
    margin-top: 11%;
}
.app_btn {
    justify-content: center;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: 2.8vw;
}
.app_text_container {
    padding-top: 1vw;
    padding-bottom: 1vw; 
}
.app_text {
    font-size: 14px;
    min-width: 144px;
}
.app_icon {
    width: 2vw;
    margin-right: 1.5vw;
}
.article {
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.article_name {
    order: 1;               
    padding-left: 54.5%;
    margin-bottom: 4%;
    margin-top: 3%;
    font-size: 80px;
}
.text_container {
    padding-left: 54.5%;
    padding-bottom: 3%;
    order: 2;
}
.athlets_img-container {
    position: absolute;
    margin-top: 0;
}
.text_container:nth-child(n+4) {
    padding-top: 3%;
}
.number_title {
    margin-bottom: 1%;
}
.title {
    font-size: 36px;
}
.number, .number_growth  {
    font-size: 18px;
    margin-right: 12px;
    margin-top: 9px;
}
.number_growth {
    color: #9173e6;
}
.number::after {
    border-top: 5px solid #663399;
    width: 20px;   
}
.number_growth::after {
    border-top: 5px solid white;  
}
.describtion {
    font-size: 20px;
    line-height: 28px;
}
.players_img-container {
    position: absolute;
    margin-left: 42%;
    margin-top: 0.5%;
    order: 2;
}
.article_name_players {
    padding-left: 10%;
}
.text_container_players {
    order: 1;
    padding-left: 10%;
    width: 100%;
}
.describtion_players {
    width: 45%;
}
.article_tips {
    display: flex;
}
.tips_title {
    font-size: 4vw;
}

.tips_description {
    font-size: 24px;
    line-height: 28px;
    width: 83%;
}
.tips_img_box {
    min-height: 33vw;
}
.tips_text {
    padding-bottom:  0;
    padding-right: 7.5%;
    width: 36.5vw;
    flex-shrink: 0;
}    
.square {
    top: 26%;
    left: 90%;
    width: 9vw;
    height: 8vw;
}
.square_number {
    font-size: 24px;
}

.img_find_contacts {
    order: 1;
}

.text_find_contacts {
    order: 2;
}
.find_contact {
    display: flex;
    justify-content: space-between;
}
.find_contact_img {
    order: 2;
}
.find_contact_text {
    order: 1;
}
.find_contact_square {
    left: -9%;
}
.work_it_text {
    width: 41%;
}
.footer {
    background-image: url(../images/game_1920.jpg); 
    padding-top: 12%;   
}
.footer_logo_box {
    width: 6.5vw;
    height: 6.5vw;
    border-radius: 1vw;
    margin: 0 2% 0 0;
}
.footer_title {
    font-size: 4vw;
}
.footer_text {
    font-size: 1.5vw;
}
.footer_text_box {
    display: block;
    margin: 0;
}
.footer_logo_text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons {
    margin-top: 9%;
}
.logo_footer {
    width: 11%;
    margin-top: 15.5%;
}






}